body{
 margin: 0;
 padding: 0;
 background: url(latar.jpg);
}
.slider{
 width: 800px;
 height: 400px;
 background: url(friend.jpg);
 margin: 100px auto;
 animation: slide 20s infinite;
}
@keyframes slide{
 20%{
 background: url(friend.jpg);
 }
 40%{
 background: url(mssmpic.jpg);
 }
 60%{
 background: url(win.jpg);
 }
80%{
 background: url(ayam.jpg);
 }
100%{
 background: url(perasmiankarisma.jpg);
 }
}